<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
</head>
<body>
<h1>HTML登录</h1>
<form action="/login" method="post">
    <span>用户名称</span><input type="text" name="username" /> <br>
    <span>用户密码</span><input type="password" name="password" /> <br>
    <span>验证码</span><input type="text" name="code" /> <br>
    <img src="/kaptcha" id="kaptcha" width="110px" height="40px"/>
    <input type="submit" value="登陆">
</form>

<h1>短信登陆</h1>
<form action="/smslogin" method="post">
    <span>手机号码：</span><input type="text" name="mobile" id="mobile"> <br>
    <span>短信验证码：</span><input type="text" name="code" id="smsCode" >
    <input type="button" onclick="getSmsCode()" value="获取"><br>
    <input type="submit"  value="登陆">
</form>

<script>
    window.onload = function () {
        var kaptchaImg = document.getElementById("kaptcha");
        kaptchaImg.onclick = function () {
            kaptchaImg.src = "/kaptcha"
        }
    };

    function getSmsCode() {
        console.log("getcode");
        $.ajax({
            type: "get",
            url: "/smscode",
            data: {
                "mobile": $("#mobile").val()
            },
            success: function (json) {
                if(json.isok){
                    alert("短信验证码发送成功")
                }
            },
            error: function (e) {
                console.log(e.responseText);
            }
        });
    }
</script>
</body>
</html>