<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="https://cdn.staticfile.org/jquery/1.12.3/jquery.min.js"></script>
</head>
<body>
<h1>JSON登录</h1>
<form action="/login" method="post">
    <span>用户名称</span><input type="text" name="username" id="username"/> <br>
    <span>用户密码</span><input type="password" name="password" id="password" /> <br>
    <input type="button" onclick="login()" value="登陆">
</form>


<script>
    function login() {
        var username = $("#username").val();
        var password = $("#password").val();
        if (username === "" || password === "") {
            alert('用户名或密码不能为空');
            return;
        }
        $.ajax({
            type: "POST",
            url: "/login",
            data: {
                "username": username,
                "password": password
            },
            success: function (json) {
                if(json === "success"){
                    alert(json + ":登录成功!")
                }else{
                    alert(json + ":用户名密码错误!")
                }
            },
            error: function (e) {
                console.log(e.responseText);
            }
        });
    }
</script>

</body>
</html>